<%= form_with(model: cohort, local: true) do |form| %>
  <% if cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cohort.errors.count, "error") %> prohibited this cohort from being saved:</h2>

      <ul>
      <% cohort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.collection_select(:course_id, Course.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.select :teacher_id, @teachers.map { |teacher| [teacher.first_name +  teacher.last_name , teacher.id] } %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.select :student_id, @students.map { |student| [student.first_name +  student.last_name , student.id] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


