<h1>New Cohort</h1>

<%= form_with model: @cohort, local: true do |form| %>
  <%= form.text_field :name, placeholder: "Name" %><br />
  <%= form.date_select :start_date, placeholder: "Start Date" %>
  <%= form.date_select :end_date, placeholder: "End Date" %>
  <%= form.select :course_id, @courses.map { |course| [course.name, course.id] } %>
  <%= form.submit %>

<%= link_to 'Back', cohorts_path %>
