<p id="notice"><%= notice %></p>

<%=@cohort.name + " Cohort"%>
<p>
  <strong>Course:</strong>
  <%= @cohort.course.name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cohort.end_date %>
</p>

<p>
  <strong>Teacher ID:</strong>
  <%= @cohort.teacher.first_name + " " + @cohort.teacher.last_name %>
</p>

<p>
  <strong>Student ID:</strong>
  <%= @cohort.student.first_name + " " + @cohort.student.last_name %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
