<p id="notice"><%= notice %></p>

<%=@cohort.name + " Cohort"%>
<p>
  <strong>Course:</strong>
  <%= @cohort.course.name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cohort.end_date %>
</p>



<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
