<p id="notice"><%= notice %></p>
<h1>MANAGE</h1>
<%= link_to 'Teachers', teachers_path %>
<%= link_to 'Students', students_path %>
<%= link_to 'Courses', courses_path %>
<%= link_to 'Cohorts', cohorts_path %>
<%= link_to 'Home', admins_path %>


<h1>Students</h1>
<% @students.each do |student|%>
  <p>
  <%= image_tag student.image unless student.image.nil? %><br>
  <h2><%= link_to "Name: #{student.first_name} #{student.last_name}", student %><br></h2>
  <%= "Age: #{student.age}" %><br>
  <%= "Education: #{student.education}" %><br>
  <%= "Student Passport: #{student.student_passport}" %><br>
  </p>

  
<% end %>

<br>

<%= link_to 'New Student', new_student_path %>
