<h1>ADMIN PAGE</h1>
<h1>FOR CRUDING TEACHERS</h1>
<p>Find me in app/views/pages/teacher.html.erb</p>


<h1>Teachers</h1>
<% @teachers.each do |teacher|%>
<p>
<%= image_tag teacher.image unless teacher.image.nil? %><br>
<%= "First Name: #{teacher.first_name}" %><br>
<%= "Last Name: #{teacher.last_name}" %><br>
<%= "Age: #{teacher.age}" %><br>
<%= "Salary: #{teacher.salary}" %><br>
<%= "Education: #{teacher.education}" %><br>
</p>
<% end %>


<p>
  <h1>Add New Teachers</h1>
  <%= form_with(model: @teacher, local: true) do |form| %>
    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>

    <div class="field">
      <%= form.label :age %>
      <%= form.number_field :age %>
    </div>

    <div class="field">
      <%= form.label :salary %>
      <%= form.number_field :salary %>
    </div>

    <div class="field">
      <%= form.label :education %>
      <%= form.text_field :education %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</p>
