<h1>Admin Homepage</h1>
<p>Find me in app/views/pages/admin.html.erb</p>


<h1>Teachers</h1>
<% @teachers.each do |teacher|%>
<p>
<%= image_tag teacher.image %><br>
<%= "First Name: #{teacher.first_name}" %><br>
<%= "Last Name: #{teacher.last_name}" %><br>
<%= "Age: #{teacher.age}" %><br>
<%= "Salary: #{teacher.salary}" %><br>
<%= "Education: #{teacher.education}" %><br>
</p>
<% end %>

<h1>Students</h1>
<% @students.each do |student|%>
<p>
<%= image_tag student.image %><br>
<%= "First Name: #{student.first_name}" %><br>
<%= "Last Name: #{student.last_name}" %><br>
<%= "Age: #{student.age}" %><br>
<%= "Education: #{student.education}" %><br>
</p>
<% end %>

<p>
  <h1>Add New Teachers</h1>
  <%= form_with(model: @teacher, local: true) do |form| %>
    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>

    <div class="field">
      <%= form.label :age %>
      <%= form.number_field :age %>
    </div>

    <div class="field">
      <%= form.label :salary %>
      <%= form.number_field :salary %>
    </div>

    <div class="field">
      <%= form.label :education %>
      <%= form.text_field :education %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</p>


<p>
  <h1>Add New Students</h1>
  <%= form_with(model: @student, local: true) do |form| %>
    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>

    <div class="field">
      <%= form.label :age %>
      <%= form.number_field :age %>
    </div>

    <div class="field">
      <%= form.label :education %>
      <%= form.text_field :education %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</p>
