<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application'%>
    <%# <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>

  <body>
    <div class="body"><%=image_tag "adult-books-campus-159775.jpg"%></div>

    <p id="notice"><%= notice %></p>
      <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">SCHOOLHUB</a>
          <button id="clock">
            <script>
              let myVar = setInterval(myTimer, 1000);
              function myTimer() {
                let d = new Date();
                document.getElementById("clock").innerHTML = d.toLocaleTimeString();
              }
            </script>
            </button>  

        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
          </li>
        </ul>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file"></span>
                      <%= link_to 'Teachers', teachers_path %>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="shopping-cart"></span>
                      <%= link_to 'Students', students_path %>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                      <%= link_to 'Courses', courses_path %>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                      <%= link_to 'Cohorts', cohorts_path %>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                      <%= link_to 'Student Cohorts', student_cohorts_path %>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                      <%= link_to 'Home', admins_path %>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          

            <main role="main" class="teach-stu-list col-md-9 ml-sm-auto col-lg-9 px-4">
              <h1 class="h2">ADMIN DASHBOARD</h1>
                  <h1>Teachers</h1>
                  <% @teachers.each do |teacher|%>
                    <%= image_tag teacher.image unless teacher.image.nil? %><br>
                    <h2><%= link_to "Name: #{teacher.first_name} #{teacher.last_name}", teacher %><br></h2>
                    <%= "Age: #{teacher.age}" %><br>
                    <%= "Salary: #{teacher.salary}" %><br>
                    <%= "Education: #{teacher.education}" %><br>
                    <%= "Cohort: #{teacher.cohort_id}" %><br>
                  <% end %>
                  <br>
                  <br>
                <%= link_to 'New Teacher', new_teacher_path %>
              </div>
            </main>
          </div>
        
          <br>

        <%= link_to 'New Teacher', new_teacher_path %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
