<p id="notice"><%= notice %></p>


<h1>Teachers</h1>
<% @teachers.each do |teacher|%>
  <p>
  <%= image_tag teacher.image unless teacher.image.nil? %><br>
  <%= "First Name: #{teacher.first_name}" %><br>
  <%= "Last Name: #{teacher.last_name}" %><br>
  <%= "Age: #{teacher.age}" %><br>
  <%= "Salary: #{teacher.salary}" %><br>
  <%= "Education: #{teacher.education}" %><br>
  </p>

  <%= link_to 'Show', teacher %>
  <%= link_to 'Edit', edit_teacher_path(teacher) %>
  <%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %>
  </tr>
  <% end %>

  <br>

<%= link_to 'New Teacher', new_teacher_path %>
