<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="flash">
  <% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  </div>
  

 <%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if  current_teacher %>
<%= link_to "logout", destroy_teacher_session_path, method: :delete%>
<% else %>
  <%= link_to "login", new_teacher_session_path%>
  <%= link_to "register", new_teacher_registration_path%>
<% end%>

</body>
</html>
